body{
  margin: 0px;
  background-color: #000;
  text-align: center;
}

*{
  color: white !important;
}

#logo{
  height: 60px;
}

#speakers > *:hover{
  cursor: pointer;
}

p::first-letter{
  color: #ff0000;
   font-size: 40px;
}
#top-menu{
    height: 60px;
    transition: margin-top 0.35s;
    background-color: #000;
}

.item{
  font-family: 'Ubuntu Condensed';
  font-size: 18px;
}

.card{
  border-radius: 50% !important;
}

.speaker-image{
  border-radius: 50% !important;
  transition: filter 0.35s;
  width: 300px;
  height: 270px;
  padding: 10px 20px;
}


#section-1{
  height: 100vh;
}

#background-images{
  position: relative;
  height: 90vh;
}

#background-images > img{
  max-height: 100%;
     max-width: 100%;
     width: auto;
     height: auto;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     transition: opacity 2s;
     opacity: 0;
}

.red{
  color:red !important;
}


#background-images > :first-child {
    opacity: 0.6;
}

h1{
  word-wrap: break-word;
}

@media only screen and (max-width: 768px){
  #background-images > img{
  }
}

#content{
  opacity: 0;
  transition: opacity 2s;
}

h1, footer>span{
  font-family: 'Ubuntu Condensed' !important;
}

footer{
  padding-bottom: 10px;
  margin:auto 20px;
}

#footer-content{
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer-content > * {
  display: inline-block;
  font-family: 'Ubuntu Condensed';
  font-size: 20px;
  line-height: 28px;
}

#cover{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2;
}
#defaultCanvas0{
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index:3;
}


#scroll-down{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 8vh;
}

#register{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 22vh;
}

#speakers-header{
  padding-top: 20px;
}

#speakers{
  padding-bottom: 20px;
  margin: 40px;

}

#speakers > div{
  display: inline-block;
  margin-bottom: 50px;
}

#register > button{
  font-family: 'Ubuntu Condensed';
}

@media only screen and (max-width: 768px) {
  #defaultCanvas0{
    width: 100vw !important;
    height: 350px !important;
  }
}
@media only screen and (max-width: 513px) {
    #top-menu{
        /*display: none;*/
    }
    #defaultCanvas0{
      width: 100vw !important;
      height: 256px !important;
    }
    .speaker-image{
      padding: 10px 20px;
    }
    #speakers{
      margin: 0px;
      margin-top: 30px;
    }
    #menu-options > *{
      display: none;
    }
    #sponsor{
      display: block;
    }
}



.description > p{
  text-align: justify;
  font-family: 'Ubuntu Condensed' !important;
  color: black !important;
  font-size: 18px;
}

.scrolling.image.content > img {
  width: 200px;
  height: 200px;
}


.container {
    position: relative;
    width: 166px;
    margin-top: 40px;
    padding: 0px 10px;
    display: inline-block;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 5px;
}

#organisers{
  padding-bottom: 20px;
}

#about > p{
  margin: 70px 80px;
  text-align: justify;
  line-height: 26px;
  font-size: 20px;
  font-family: 'Ubuntu Condensed';
}

@media only screen and (max-width: 768px) {
  #about > p{
    text-align: justify;
    font-size: 20px;
    margin: 30px 10px !important;
  }
}

#venue{
  background-color: #fff;
  padding: 50px 10px;
}

#venue > *{
  color: #000 !important;
}

/*#organisers{
  padding: 30px 0px;
  background: url('/img/background-1.jpg')
}*/


#register-modal > *{
  color: black !important;
  text-align: center;
}

#about-header{
  word-wrap: break-word;
}


#sponsor-section{
  font-family: 'Ubuntu Condensed';
  font-size: 21px;
  margin-top: 90px;
  margin-bottom: 20px;
}


#sponsor-section > p{
  margin-top: 42px;
text-align: justify;
padding: 0px 20px;
}

#sponsor-section > h1{
  font-size: 50px;
}

.machine{
  width: 100vw;
  display: block;
  height: auto;
}
